.body{
    
    font-weight: bold;
    

}
.principal{
    
    width: 625px;
    
    margin:auto;
    
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.33);
}


.contenido{
    display: flex;
    
    
}
h2{
    margin: 0px;

}
.abajo{
    background-image: url(../imagenn.jpg);
}

.arriba{
    padding: 25px;
    font-family:cursive; 
    text-align: center;
    background-color:rgb(82, 86, 89);
    color:rgb(144,196,0);
}
 .lista{
    font-weight: bold;
    color:white;

    display: flex;
    width: 70%;
    text-align: center;
    
    

}
ul{
    list-style:none;
    margin-bottom: 4px;
    margin-top: 30px;

}

.total{
    font-weight: bold;

    text-align: center;
    
    width: 30%;
}

.botones{
    
    width: 150px;
    display: inline-table;

    
    background-color: white;
    
    box-shadow: 0px 0px 20px #c5c5c5 inset;
    color:rgb(144,196,0);
    border-radius: 30px;
    
    border: none;
    font-size: 150%;

    margin-bottom:10px;
}

.ultimo{
    
    text-align: center;
    width: 100%;

}

.botones2{
    font-family: cursive;
    border: 1px solid #3e3e3e63;
    cursor: pointer;
    width: 300px;
    display: inline-table;

    

    
    box-shadow: 0px 0px 20px #3e3e3e63 inset;
    color:white;
    border-radius: 30px;
    
    border: none;
    font-size: 150%;

    margin-bottom:10px;
}

.listaprecios {
    color:rgb(82, 86, 89);
    font-size: 60%; 
}

li{
    margin-bottom: 4px;
}

p{
    margin:0px;
}

.fas{
    color:rgb(82, 86, 89);
}

.btn-primary{
    background-color: initial;
    border-color: initial;
}